body
{
	background-color: black;
		color:white;
	
	
	
}

.car {
	
	height: 20%;
	width :100%;
	background:grey;


}




.N2 {
	float:left;
	width: 45%;
	height: 50%;
	

	
}


.N3 {
	float: right;
	width: 45%;
	height: 50%;


	
}
.by {
	float:center;
	width: 60%;
	height: 50%;
	

	
}

